header {
    background-color: #222;
    padding: 16px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 450;
    cursor: pointer;
}

h1, a {
    font-size: 35px;
    color: #00e0ff;
}

h1 :hover {
    color:#fff;
}

a :hover{
    color: #fff;
}

